table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #DFDFDF;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #F7F7F7;
}

.italicize {
    font-style:italic;
}

span.resume-achievements {
    min-width: 25%
}

figure.caption {
    color: #6c757d;
    text-align: left;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    padding: 0;
}